@model Cookbook.Core.Models.Recipe

@{
    ViewBag.Title = "Model.Name" + "Details";
}
<h2>@Html.DisplayFor(model=>model.Name)</h2>
<div>
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/RecipeImages/@Model.Image"/>
    </div>
    <div class="col-md-10">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ServingSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServingSize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Calories)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Calories)
            </dd>

            <dt>
                Ingredients
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ingredient1)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient2)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient4)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient5)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient6)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient7)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient8)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient9)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ingredient10)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.instruction1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction3)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction4)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction5)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction5)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction6)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction6)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction7)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction7)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction8)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction8)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction9)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction9)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.instruction10)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.instruction10)
            </dd>
            <dt> </dt>
            <dd>
                <a href="#" class="=btn btn-default">Add to Favorites</a>
            </dd>
            <dt> </dt>
            <dd>@Html.ActionLink("Back to List", "Index")</dd>
        </dl>
    </div>
    </div>
    <div class="col-md-12 clearfix"></div>
