<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cookbook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Recipe Manager", "Index", "RecipeManager")</li>
                    <li>@Html.ActionLink("Categories", "Index", "RecipeCategoryManager")</li>
                    <li>@Html.ActionLink("Ingredients", "Index", "IngredientType")</li>
                    <li><a href="https://mykitchencalculator.com/recipeconverter.html"\>Kitchen Calculator</a></li>
                </ul>
                
            </div>
            <div class="navbar-collapse collapse">
                
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right owner">
                        <li class="frcountli">
                            @if (ViewBag.FRCount != null)
                            {
                                <span class="glyphicon glyphicon-user red frnotif @User.Identity.Name"><span>@ViewBag.FRCount</span></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-user frnotif @User.Identity.Name"><span></span></span>
                            }
                            <ul id="frnotiful"></ul>
                        </li>
                        <li class="msgcountli">
                            @if (ViewBag.MsgCount > 0)
                            {
                                <span class="glyphicon glyphicon-comment red msgnotif @User.Identity.Name"><span>@ViewBag.MsgCount</span></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-comment msgnotif @User.Identity.Name"><span></span></span>
                            }
                            <ul id="msgnotiful"></ul>
                        </li>
                        <li class="name">@ViewBag.FullName</li>
                        <li class="logout">@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
